* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.keyword {
    color: orange;
}

.data-type {
    color: rgb(0, 162, 255);
}

.comment {
    color: green;
    font-style: italic; 
}

.include {
    color: purple;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#codeSection {
    font-size: 1.25rem;
    width: 100%;
    height: 400px;
    border: 2px solid #ccc;
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #1e1e1e;
    color: white;
    white-space: pre-wrap;
    font-family: monospace;
    border-radius: 4px;
}

#codeSection:focus{
    outline: none;
}

#codeSection::-webkit-scrollbar {
    display: none;
}

textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    color: white;
    background-color: #1e1e1e;
}

#runBtn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#runBtn:hover {
    background-color: #218838;
}

#runBtn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#result {
    overflow-y: auto;
    height: 250px;
    scrollbar-width: none;
    background-color: #1e1e1e;
    color: white;
    white-space: pre-wrap;
}
#result:focus {
    outline: none;
}

#result::-webkit-scrollbar {
    display: none;
}

.home {
    display: flex;
    gap: 2.25rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.inputAndUser {
    display: flex;
    gap: 1rem;
    height: 50%;
}

.customInput {
    width: 50%;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #1e1e1e;
}

.userDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #1e1e1e;
}

.compilation {
    color: white;
    height: 50%;
    width: 100%;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #1e1e1e;
}

.userAndFiles {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
button {
    padding: 4px 8px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}
button:focus{
    outline: none;
}
.user {
    height: 6rem;
    border: 2px solid white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#files {
    height: 12rem;
    border: 2px solid white;
    border-radius: 4px;
}

.newFileBtn {
    padding: 4px 8px;
    background-color: rgb(87, 87, 239);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

.newFileBtn:hover{
    background-color: rgb(73, 73, 242);
}

ol {
    height: 8rem;
    overflow-y: scroll;
    scrollbar-width: none;
    cursor: pointer;
}
ol > li {
    border-radius: 4px;
    padding: 4px;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

ol > li:hover {
    background-color: black;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#fileNameInput{
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 300px auto;
    background-color: white;
    border-radius: 4px;
    color: black;
}
.SubmitBtn{
    border: 1px solid black;
    color: black;
}
.closeBtn{
    background-color: red;
    color: white;
}

#fileNameInput > input {
    height: 25px;
    font-size: 15px;
}

#fileNameInput > input:focus {
    outline: none;
}